:root {
	--background-color: #fff;
	--box-background-color: #f5f5f5;

    --border-color: rgba(0, 0, 0, 0.1);;

	--menu_bar-hover-color: rgba(0, 0, 0, 0.1);

	--money-color: #ff5000;
	--theme-color: #f68b39;
	--hearer-text-color: #555;
	--text-color: #333;
	--footer-text-color:#5e5e5e;
}

.dark {
	--background-color: #070b1d;
	--box-background-color: #101425;

    --border-color: rgba(255, 255, 255, 0.1);

	--menu_bar-hover-color: rgba(255, 255, 255, 0.1);

	--theme-color: #f68b39;
	--text-color: #fff;
	--hearer-text-color: #a4a5b8;
	--footer-text-color:#ddd;
}

* {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	font-family: sans-serif;
	transition: 0.2s;
}
