* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	margin: 0;
	background-color: rgba(255, 255, 255, .7);
	backdrop-filter: blur(50px);
	border-bottom: 1px #aaa solid;
	overflow: hidden;
	position: fixed;
	top: 0;
	padding: 2px 0;
}

header nav {
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

header nav a.now {
	color: #333;
	border-bottom: 2px solid #f36838;
}

header nav li {
	display: inline-block;
	font-size: 16px;
	padding: 10px;
}

header nav ul {
	list-style-type: none;
	font-size: 16px;
	color: #787878;
	float: right;
}

header nav a {
	color: #787878;
	text-decoration: none;
}

header nav a:hover {
	color: #333333;
}

header nav b {
	font-size: 16px;
	color: #5e5e5e;
	float: left;
	margin: 0px;
	padding: 10px;
}

body {
	background-color: #f1f5f9;
}

main {
	max-width: 1000px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 45px;
}

footer {
	/* background-color: #fafafa; */
	/* width: 100%; */
	padding: 30px;
	text-align: center;
	color: #5e5e5e;
	font-size: 12px;
}