@import url('color.css');

.container {
    padding: 5px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border: var(--border-color) 2px solid;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.item {
    border-radius: 10px;
    height: 300px;
	min-width: 300px;
    margin-right: 10px;
    scroll-snap-align: center;
    background-size: cover;
} 

.button {
    float: right;
    color: var(--theme-color) !important;
    margin: 10px 20px;
}