.container {
    padding: 5px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border: #ccc 2px solid;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.item {
    border-radius: 10px;
    height: 300px;
	min-width: 300px;
    background-color: #114514;
    margin-right: 10px;
    scroll-snap-align: center;
    font-size: 20px;
    line-height: 300px;
    text-align: center;
    color: #fff;
    background-size: cover;
} 

.button {
    float: right;
    color: coral !important;
    margin: 10px 20px;
}