.container {
    display: grid;
    grid-template-columns: 32% 32% 32%; 
    grid-gap: 10px;
    margin: 0 auto;
}

.item {
    grid-template-columns: repeat(auto-fill, minmax(300px, 310px));
    grid-gap: 10px;
    width: auto;
    box-sizing: border-box; 
    min-height: 200px; 
    background-color: #f5f5f5; 
    padding: 10px;
    border-radius: 15px;
}

.item > * {
    margin-bottom: 5px;
}

.item img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.item .info {
    font-size: 16px;
    color: #333;
}

.item .price {
    font-size: 24px;
    color: #ff5000;
    font-weight: bold; /* 将文本设置为粗体 */
}

.item .price::after {
    content: "橙子币";
    font-size: 16px;
    font-weight: normal;
    margin-left: 5px;
}


@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 48% 48%;
    }
}